<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
                             http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <!-- HOME -->
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.erasmus.web.controller.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <!-- FORUM POST -->
    <servlet>
        <servlet-name>ForumServlet</servlet-name>
        <servlet-class>com.erasmus.web.controller.ForumServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForumServlet</servlet-name>
        <url-pattern>/ForumServlet</url-pattern>
    </servlet-mapping>

    <!-- FORUM REPLY-->
    <servlet>
        <servlet-name>ReplyServlet</servlet-name>
        <servlet-class>com.erasmus.web.controller.ReplyServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ReplyServlet</servlet-name>
        <url-pattern>/ReplyServlet</url-pattern>
    </servlet-mapping>

    <!-- FORUM REACTION-->
    <servlet>
        <servlet-name>ReactionServlet</servlet-name>
        <servlet-class>com.erasmus.web.controller.ReactionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ReactionServlet</servlet-name>
        <url-pattern>/ReactionServlet</url-pattern>
    </servlet-mapping>

    <!-- APPLICATIONS -->
    <servlet>
        <servlet-name>ApplicationServlet</servlet-name>
        <servlet-class>com.erasmus.web.controller.ApplicationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApplicationServlet</servlet-name>
        <url-pattern>/api/applications/*</url-pattern>
    </servlet-mapping>

    <!-- UNIVERSITIES LIST PAGE -->
    <servlet>
        <servlet-name>UniversityServlet</servlet-name>
        <servlet-class>com.erasmus.web.controller.UniversityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UniversityServlet</servlet-name>
        <url-pattern>/universities</url-pattern>
    </servlet-mapping>

    <!-- UNIVERSITY DETAILS PAGE -->
    <servlet>
        <servlet-name>UniversityDetailsServlet</servlet-name>
        <servlet-class>com.erasmus.web.controller.UniversityDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UniversityDetailsServlet</servlet-name>
        <url-pattern>/UniversityDetailsServlet</url-pattern>
    </servlet-mapping>

    <!-- COURSE MATCH -->
    <servlet>
        <servlet-name>CourseMatchSelectServlet</servlet-name>
        <servlet-class>com.erasmus.web.controller.CourseMatchSelectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CourseMatchSelectServlet</servlet-name>
        <url-pattern>/CourseMatchSelect</url-pattern>
    </servlet-mapping>

    <!-- BEST UNIVERSITY FINDER -->
    <servlet>
        <servlet-name>FindBestUniversitiesServlet</servlet-name>
        <servlet-class>com.erasmus.web.controller.FindBestUniversitiesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindBestUniversitiesServlet</servlet-name>
        <url-pattern>/FindBestUniversities</url-pattern>
    </servlet-mapping>

    <!-- REGISTER SERVLET (NEW) -->
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.erasmus.web.controller.RegisterServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
    
    <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.erasmus.web.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    
    <!-- LOGOUT -->
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.erasmus.web.controller.LogoutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>com.erasmus.web.controller.UpdateProfileServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/UpdateProfileServlet</url-pattern>
    </servlet-mapping>


    <!-- INDEX -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>
